<p>To complete this lab, you must do the following:</p>
<ul>
  <li>
    Go to the {{ title }} repl associated with your classroom's <a
      class="inline_disabled"
      href="https://replit.com/{{ replitOrg }}"
      target="_blank"
      rel="noopener"
      >Replit Team</a
    >.
  </li>
  <li>Follow the instructions there on how to complete the Lab.</li>
  <li>Submit your completed version through Replit.</li>
  <li>You should <em>also</em> submit your unique URL to this Canvas assignment.</li>
</ul>
<p>If you are having trouble completing the lab, you should:</p>
<ul>
  <li>Review the reading and lesson notes.</li>
  <li>Reach out to other students on Slack.</li>
</ul>
<p>After doing your best, just submit it!</p>
