<p>To complete this project, you must do the following:</p>
<ul>
  <li>
    Go to the
    <a
      class="inline_disabled"
      href="https://github.com/{{ gitHubOrg }}/{{ kind }}-{{ path }}"
      target="_blank"
      rel="noopener"
      >{{ title }}</a
    >
    on GitHub.
  </li>
  <li>Follow the instructions in the GitHub repository on how to complete the project.</li>
  <li>Submit a link to your complete project when done. Depending on the type of project, you may need to submit multiple links.</li>
</ul>
